{
  "MOODLE_CREDENTIALS": {
    "username": "your moodle username here",
    "password": "your moodle password here"
  },
  "electionRoomID": "election room id here",
  "status": "status of bot (operating/freezing)",
  "port": "your running port",
  "waitTime": "the wait time between each checkout",
  "deadline": "timer deadline here"
}

